#DATE & TIME
    1. date
    2. time
    3. datetime
    4. timedelta

#date
    1. today()
        1.1. today().year
        1.2. today().month
        1.3. today().day
    2. date(yyyy,mm,dd)

In [24]:
#Format -> (yyyy,mm,dd)
from datetime import date

#Specific Date
sd1 = date(2024,8,24)
print(sd1)

'''
sd2 = date(8,2023,5)
print(sd2)
'''
sd3 = date(2023,9,30)
print(sd3)

sd4 = date(2023,3,21)
print(sd4)

#Extact Date,Year and Month
print(sd4.year)
print(sd4.month)
print(sd4.day)

print(sd3.year)
print(sd3.month)
print(sd3.day)

#Current Date
cd = date.today()
print(cd)
print(cd.year)
print(cd.month)
print(cd.day)

import datetime
print(datetime.date.today())

2024-08-24
2023-09-30
2023-03-21
2023
3
21
2023
9
30
2025-04-07
2025
4
7
2025-04-07

#time
    1. time(hh,mm,ss)
        1.1. time(hh,mm,ss).hour
        1.2. time(hh,mm,ss).minute
        1.3. time(hh,mm,ss).second
    2.

In [42]:
#Format -> (hh,mm,ss)
from datetime import time

st1 = time(11,11,11)
print(st1)

st2 = time(12,12,12)
print(st2)

st3 = time(12,19,45)
print(st3)

st4 = time(23,12,10)
print(st4)

#Extact Hour, Minute and Seconds
print(st4.hour)
print(st4.minute)
print(st4.second)

11:11:11
12:12:12
12:19:45
23:12:10
23
12
10

#datetime
    1. datetime.now()
    2. datetime.today()

In [48]:
from datetime import datetime

x1 = datetime.now()
print(x1)

x2 = datetime.today()
print(x2)

print(x2.year)
print(x2.month)
print(x2.day)
print(x2.hour)
print(x2.minute)
print(x2.second)

2025-04-07 04:47:42.056947
2025-04-07 04:47:42.057119
2025
4
7
4
47
42

#Formatting Date and Time
    1. now.strftime(<format>)
        %Y - Year
        %m - Month
        %d - day
        %H - Hour
        %M - Minute
        %S - Second
    2. datetime.strptime(<date string>,<format>)

In [56]:
from datetime import datetime

ex = datetime.now()
print(ex)

ex1 = ex.strftime("<%d-%m-%Y> <%S:%M:%H>")
print(ex1)

ctime = ex.strftime("%H:%M:%S")
print(ctime)

2025-04-07 04:58:29.218790
<07-04-2025> <29:58:04>
04:58:29

#Performing Date Arithmetic

In [85]:
from datetime import timedelta
from datetime import datetime
a1 = datetime.now()
print(a1)

print(a1+timedelta(days=25))
print(a1-timedelta(days=10))

a2 = datetime.strptime("2024-12-20 10:10:10","%Y-%m-%d %H:%M:%S")
print(a2)
print(a2-timedelta(days=20))
print(a2+timedelta(days=20))

print(a1)
print(a2)
print(a1-a2)
x = a1-a2
print(x.days)

2025-04-07 05:21:32.692468
2025-05-02 05:21:32.692468
2025-03-28 05:21:32.692468
2024-12-20 10:10:10
2024-11-30 10:10:10
2025-01-09 10:10:10
2025-04-07 05:21:32.692468
2024-12-20 10:10:10
107 days, 19:11:22.692468
107

#Time Module
    1. time.time()
    2. time.sleep(<value>)

In [90]:
import time
for i in range(5):
  time.sleep(5)
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World