#Type Convertions
    Int : String, Float,
    Float : String, Interger,
    String : Integer, Float, List and tuple,
    List : String, Tuple and Dictionary,
    Tuple : String and Lists,

#Interger
    Strings
    Float

In [3]:
x = 10
print(x)
print(type(x))

x1 = str(x)
print(x1)
print(type(x1))

x2 = float(x)
print(x2)
print(type(x2))

10
<class 'int'>
10
<class 'str'>
10.0
<class 'float'>

#Float
    String
    Integer

In [13]:
x = 10.9
print(x)
print(type(x))

x1 = str(x)
print(x1)
print(type(x1))
print(x1[3])
print(x1[2])

x2 = int(x)
print(x2)
print(type(x2))

10.9
<class 'float'>
10.9
<class 'str'>
9
.
10
<class 'int'>

#Strings
    Integer
    Float
    list
    tuple

In [39]:
x = "hello"
y = "10"
z = "10.456"
print(x)
print(type(x))
print(y)
print(type(y))

x1 = int(y)
print(x1)
print(type(x1))

y1 = float(z)
print(y1)
print(type(y1))

x3 = list(x)
print(x3)
print(type(x3))
x33 = list(y)
print(x33)
print(type(x33))

x4 = tuple(x)
print(x4)
print(type(x4))

print(x33)
x333 = list(map(int,x33))
print(x333)

x5 = "10"
x6 = int(x5)
x7 = [x6]
print(type(x7))
print(x7)

hello
<class 'str'>
10
<class 'str'>
10
<class 'int'>
10.456
<class 'float'>
['h', 'e', 'l', 'l', 'o']
<class 'list'>
['1', '0']
<class 'list'>
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>
['1', '0']
[1, 0]
<class 'list'>
[10]

#List
    String
    Tuple

In [44]:
a = [10,20,30,40]
a1 = str(a)
print(a1)
print(type(a1))
print(a1[0])
print(a1[1])

a2 = tuple(a)
print(a2)
print(type(a2))

[10, 20, 30, 40]
<class 'str'>
[
1
(10, 20, 30, 40)
<class 'tuple'>
10
10

#Tuple
    String
    List

In [49]:
b = (1,2,3,4)
print(b)
print(type(b))

b1 = str(b)
print(b1)
print(type(b1))

print(b[0])
print(b1[0])

(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4)
<class 'str'>
1
(

In [56]:
x1 = (1,2,3,4)
x2 = (10,20,30,40)
res = zip(x1,x2)
print(res)
res1 = dict(res)
print(res1)

<zip object at 0x7f3f9752d180>
{1: 10, 2: 20, 3: 30, 4: 40}

In [54]:
s1 = {1,2,3,4,5}
print(s1)
print(type(s1))

s2 = frozenset(s1)
print(s2)
print(type(s2))

s3 = set(s2)
print(s3)
print(type(s3))

{1, 2, 3, 4, 5}
<class 'set'>
frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>
{1, 2, 3, 4, 5}
<class 'set'>