#INPUT OPERATIONS
    input() [ Value will be considered as String ]

In [ ]:
x = input()
print(x)
print(type(x))

True
True
<class 'str'>

#Taking Inputs of integer

In [ ]:
'''
x = input()
print(x)
print(type(x))
x = int(x)
print(x)
print(type(x))
'''
'''
z = int(input("Enter a value: "))
print(z)
print(type(z))
'''
'''
x=int(input())
y = int(input())
print(x)
print(y)
'''
'''
x,y = input().split(",")
print(x)
print(type(x))
print(y)
print(type(y))
'''
'''
x,y = map(int,input().split())
print(x)
print(type(x))
print(y)
print(type(y))
'''
x,y = map(int,input().split("$"))
print(x)
print(type(x))
print(y)
print(type(y))

1101$1056
1101
<class 'int'>
1056
<class 'int'>

#Taking inputs Of float

In [ ]:
'''
a = float(input())
print(a)
print(type(a))
'''
'''
a,b = map(float,input().split(","))
print(a)
print(type(a))
print(b)
print(type(b))
'''

123.456,67.890
123.456
<class 'float'>
67.89
<class 'float'>

#Taking inputs of list

In [ ]:
'''
a = input().split()
print(a)
'''
'''
a = list(map(int,input().split()))
print(a)
'''
'''
a = list(map(float,input().split()))
print(a)
'''
'''
a = list(map(int,input().split()))
print(a)
'''

10 20 309

TypeError: list expected at most 1 argument, got 2

#Taking inputs of Tuple

In [ ]:
'''
a = tuple(map(int,input().split("&")))
print(a)
print(type(a))
'''
a = tuple(map(float,input().split()))
print(a)
print(type(a))

10.45 67.89
10.45
67.89
<class 'float'>

#Taking inputs of sets

In [ ]:
s1 = set(map(int,input().split()))
print(s1)
print(type(s1))

10 34 56 34 23
{56, 10, 34, 23}
<class 'set'>

#Taking inputs of dictionaries

In [ ]:
x = list(map(int,input().split()))
y = list(map(int,input().split()))
res = dict(zip(x,y))
print(res)
x1 = set(res)
print(x1)

1 2 3 4
10 20 30 40
{1: 10, 2: 20, 3: 30, 4: 40}
{1, 2, 3, 4}

In [ ]:
#Problem - 1
'''
a,b = map(int,input().split())
print(a*b)
'''
#Problem - 2
'''
a,b,c = map(int,input().split())
print((a+b)>c and (b+c)>a and (a+c)>b)
'''
#Problem - 3
#approach - 1
'''
s1 = set(map(int,input().split()))
s2 = {1,2,3,4,5}
print(s2-s1)
'''
#Approach - 2
'''
n = 100
a = list(map(int,input().split()))
r1 = sum(a)
r2 = n * (n + 1) // 2
print(r2-r1)
'''

12 15 9 1 71 77 81 29 70 19 11 83 56 2 57 53 68 99 82 100 22 10 51 40 34 98 80 38 39 89 94 4 26 64 45 8 90 24 93 33 21 7 49 88 5 28 55 67 65 50 32 58 6 37 46 42 20 44 41 3 78 76 73 16 31 85 91 54 60 47 97 43 84 17 35 69 13 30 61 79 72 48 23 66 52 27 62 87 63 18 75 96 14 86 95 74 25 59 36
92

#OUTPUT OPERATIONS
    print() [ Prints values given as a parameters ]
#Types of Output Operations
    1. Using Normal Method
    2. Using Modulo Operator
    3. Using F - Format
    4. Using Dot Format

In [3]:
print("hello")
a = 10
b = 20
print(a)
print(b)
print(a,b)

hello
10
20
10 20

#USING NORMAL METHOD

In [19]:
a = 10
b = 20
print(a,b)
print(a,b,a+b)
print(a,",",b)
print("Value 1:",a)
print("Value 2:",b)
print(a,b)
a = int(input())
b = int(input())
print("The sum of",a,"and",b,"is",a+b)

10 20
10 20 30
10 , 20
Value 1: 10
Value 2: 20
10 20
2
3
The sum of 2 and 3 is 5

#USING MODULO OPERATOR
    %d - For Integers
    %f - For Floats
    %s - For Strings

In [34]:
'''
a = 10
b = 20
print("%d%f" %(a,b))
'''
'''
a = "Hello"
b = "world"
c = 45
print("%s %s %f"%(a,b,c))
'''
'''
a = 56.789
b = 56.6
c = 78
print("%f %f %f"%(a,b,c))
'''

56.789000 56.600000 78.000000

#USING F - FORMAT

In [59]:
a = 10
b = 20
print(f"{a} {b}")
print(f"The both values are a{a}{b}")

10 20
The both values are a1020

#USING DOT FORMAT

In [52]:
'''
a = 10
b = 20
print("{} {}".format(a,b))
'''
'''
a = 10.45580
b = 67
print("{:.3f} {}".format(a,b))
'''
'''
x = "Hello.world"
b = "world"
print("{} {}".format(x,b))
'''
'''
a = "Hello"
print("{}".format(a[:4]))
'''
'''
k = [10,20,30,40,20]
print("Count of 10 :{}".format(k.count(20)))
'''

Count of 10 :2

In [65]:
#Problem - 1
a = "Hello World"
print("Hello World")
print(f"{a}")
print("\"Hello World\"")
print('"Hello World"')

Hello World
Hello World
"Hello World"
"Hello World"

In [71]:
x = [10,20,30,40,50]
print(x)
print(*x)
print(*x,sep="$")
print(*x,sep=",")
print(*x,sep="")

[10, 20, 30, 40, 50]
10 20 30 40 50
10$20$30$40$50
10,20,30,40,50
1020304050

In [86]:
'''
x = -123
x = -1 * x
x = str(x)
x = x[::-1]
x = int(x)
x = -1 * x
print(x)
print(type(x))
'''
'''
x = -123
x = -1 * x
x = str(x)
x = x[::-1]
x = "-" + x
print(x)
'''

-321