#Problem Solving Steps
    1. Algorithm Developement
        Step by Step Process
    2. Flow Chart Design
        Graphical representation of Process
    3. Pseudo Code
        Semi code of Process
    4. Source Code
        Complete Code

#Translator
    The machine converts high level language to machine level language

    Types of Translators:
        1. Compiler
        2. Assembler
        3. Interpreter

#PYTHON

#History of Python
    Python is an object-oriented and open-source language developed in the 1980s by Dutchman
    Guido van Rossum.

    Inception And Development : In the early 1980s Van Rossum used to work at CWI (Centrum voor
    Wiskunde en Informatica) as an implementer of the programming language called ABC.

    Later at CWI in the late 1980s, while working on a new distributed operating system called
    AMOEBA, Van Rossum started looking for a scripting language with a syntax like ABC

    Behind the name : Back in the 1970s, there was a popular BBC comedy tv show called Monty
    Python’s Fly Circus and Van Rossum happened to be the big fan of that show.

#Variables
    1. Varibale Naming Rules
    2. Assignment
    3. Reassignment
    4. Multiple Assignment
    5. Swapping
    6. Deleting

In [21]:
a = 10
b = 34.56
x123 = 45
print(a)
print(x123)

_x1 = 10
print(_x1)
__x2 = 20
print(__x2)
___x3 = 30
print(___x3)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-21-87bd827ab25b>, line 14)

In [8]:
a = 10
print(a)
a = 15
print(a)
a = 20
print(a)

10
15
20

In [10]:
x = 10
y = 10
z = 10
print(x)
print(y)
print(z)
x1=y1=z1=10
print(x1)
print(y1)
print(z1)

10
10
10
10
10
10

In [15]:
a1 = 123
b1 = 456
print(a1)
print(b1)
a1,b1 = b1,a1
print(a1)
print(b1)

print(b1)
print(a1)

123
456
456
123
123
456

In [12]:
a = 10
b = 20
c = 30
print(a)
print(b)
print(c)
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30
10
20
30

In [17]:
a1 = 120
print(a1)
del a1
print(a1)

120

NameError: name 'a1' is not defined

#Comments
    Single line Comments
        # content
    Multi line Comments
        ''' content
            content
            content '''

              (or)
        """ content
            content
            content """

In [27]:
print(10)
'''
#print(20)
#print(30)
#print(40)
'''
print(50)
print(10)
"""
print(20)
print(30)
print(40)
"""
print(50)

10
50
10
50

#Data Types
    1. Numeric Types:
        int
        flaot
        complex
    2. Sequence Types:
        list
        tuple
    3. Mapping Types:
        dict
    4. Set types
        sets
        frozensets
    5. Boolean Types
        bool [ True / False ]
    6. Text Type:
        Strings

#Numeric
    1. Int
    2. Float
    3. Complex