#INPUT OPERATIONS
    input() [ Value will be considered as String ]

In [3]:
x = input()
print(x)
print(type(x))

True
True
<class 'str'>

#Taking Inputs of integer

In [17]:
'''
x = input()
print(x)
print(type(x))
x = int(x)
print(x)
print(type(x))
'''
'''
z = int(input("Enter a value: "))
print(z)
print(type(z))
'''
'''
x=int(input())
y = int(input())
print(x)
print(y)
'''
'''
x,y = input().split(",")
print(x)
print(type(x))
print(y)
print(type(y))
'''
'''
x,y = map(int,input().split())
print(x)
print(type(x))
print(y)
print(type(y))
'''
x,y = map(int,input().split("$"))
print(x)
print(type(x))
print(y)
print(type(y))

1101$1056
1101
<class 'int'>
1056
<class 'int'>

#Taking inputs Of float

In [22]:
'''
a = float(input())
print(a)
print(type(a))
'''
'''
a,b = map(float,input().split(","))
print(a)
print(type(a))
print(b)
print(type(b))
'''

123.456,67.890
123.456
<class 'float'>
67.89
<class 'float'>

#Taking inputs of list

In [34]:
'''
a = input().split()
print(a)
'''
'''
a = list(map(int,input().split()))
print(a)
'''
'''
a = list(map(float,input().split()))
print(a)
'''
'''
a = list(map(int,input().split()))
print(a)
'''

10 20 309

TypeError: list expected at most 1 argument, got 2

#Taking inputs of Tuple

In [41]:
'''
a = tuple(map(int,input().split("&")))
print(a)
print(type(a))
'''
a = tuple(map(float,input().split()))
print(a)
print(type(a))

10.45 67.89
10.45
67.89
<class 'float'>

#Taking inputs of sets

In [42]:
s1 = set(map(int,input().split()))
print(s1)
print(type(s1))

10 34 56 34 23
{56, 10, 34, 23}
<class 'set'>

#Taking inputs of dictionaries

In [44]:
x = list(map(int,input().split()))
y = list(map(int,input().split()))
res = dict(zip(x,y))
print(res)
x1 = set(res)
print(x1)

1 2 3 4
10 20 30 40
{1: 10, 2: 20, 3: 30, 4: 40}
{1, 2, 3, 4}

In [53]:
#Problem - 1
'''
a,b = map(int,input().split())
print(a*b)
'''
#Problem - 2
'''
a,b,c = map(int,input().split())
print((a+b)>c and (b+c)>a and (a+c)>b)
'''
#Problem - 3
#approach - 1
'''
s1 = set(map(int,input().split()))
s2 = {1,2,3,4,5}
print(s2-s1)
'''
#Approach - 2
'''
n = 100
a = list(map(int,input().split()))
r1 = sum(a)
r2 = n * (n + 1) // 2
print(r2-r1)
'''

12 15 9 1 71 77 81 29 70 19 11 83 56 2 57 53 68 99 82 100 22 10 51 40 34 98 80 38 39 89 94 4 26 64 45 8 90 24 93 33 21 7 49 88 5 28 55 67 65 50 32 58 6 37 46 42 20 44 41 3 78 76 73 16 31 85 91 54 60 47 97 43 84 17 35 69 13 30 61 79 72 48 23 66 52 27 62 87 63 18 75 96 14 86 95 74 25 59 36
92

#OUTPUT OPERATIONS
    print() [ Prints values given as a parameters ]
#Types of Output Operations
    1. Using Normal Method
    2. Using Modulo Operator
    3. Using F - Format
    4. Using Dot Format

#USING NORMAL METHOD

#USING MODULO OPERATOR
    %d - For Integers
    %f - For Floats
    %s - For Strings

#USING F - FORMAT

#USING DOT FORMAT